body {
    display: grid;
}

header {
    display: flex;
    height: 5em;
    background-color: rgb(136, 129, 192);
    color: white;
}

header h1 {
    margin: 0 auto;
    padding: 10px;
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    width: 50px;
    height: 100vh;
    background-color: rgb(75, 67, 117);
}

nav img {
    margin: 10px;
}